*{
    font-family: 'Passero One', cursive;
    text-align: center;
    margin: 0;
    padding: 0;

}
html{
    height: 100%;
    display: flex;
    align-content: center;
    justify-content: space-around;
    background-color: rgb(129, 34, 34);
    flex-direction: column;

}


.wrapper{
    background-color: rgb(129, 34, 34);
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.container{
    width: 600px;
    background-color: brown;
    border: 3px solid goldenrod;
    margin: 10px;
    padding: 0.5% 1%;
    animation-name: setStage;
    animation-duration: 1.5s;
    animation-fill-mode: both;
    animation-timing-function: ease;

    padding-bottom: 40px;
}

@keyframes setStage {
    0%{opacity: 0; transform: translateY(-100%);}
    100%{opacity: 1; transform: translateY(0%)}
}

.title{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    padding-top: 10px;
    padding-bottom: 20px;
}


.img {
    content:url(https://github.com/LucasMoraesDev/Jogo-da-Velha/blob/main/images/shield_and_swords.png?raw=true);
    width:80px ;
}

.smallImg{
    display: none;
}

.header{
    display: inline-block;
    font-size: 4rem;
    text-shadow: 2px 2px black;
    color: goldenrod;

}


.square{
    width: 150px;
    height: 150px;
    background-color: cornsilk;
    border: 3px solid gray;
    border-radius: 2%;
    display: inline-block;
    position: relative;
}


.x{
    position: absolute;
    top: 10%;
    bottom: 10%;
    right: 10%;
    left: 10%;
    height: 120px;

    background-image: url(https://github.com/LucasMoraesDev/Jogo-da-Velha/blob/main/images/297806.png?raw=true);
    background-size:contain;
    background-position: center;
    background-repeat: no-repeat;

    animation-name: move;
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-timing-function: ease;
}

.o{
    position: absolute;
    top: 10%;
    bottom: 10%;
    right: 10%;
    left: 10%;
    height: 120px;

    background-image: url(https://github.com/LucasMoraesDev/Jogo-da-Velha/blob/main/images/297784.png?raw=true);
    background-size:contain;
    background-position: center;
    background-repeat: no-repeat;

    animation-name: move;
    animation-duration: 0.5s;
    animation-fill-mode: both;
    animation-timing-function: ease-in-out;
}

@keyframes move {
    0%  {transform: rotate(0deg);}
    25% {transform: rotate(5deg);}
    /* 50% {transform: rotate(0deg);} */
    75% {transform: rotate(-5deg);}
    100%{transform: rotate(0deg);}
}

.imagem{
    width: 100px;
    display: block;
    padding: 25px;
}

.header2{
    font-size: 4rem;
    display: inline-block;

}

.xwin{
    display: flex;
    align-items:center;
    justify-content: space-evenly;
    flex-direction: column;
    height:610px;

    animation-name: setXWin;
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-timing-function: ease;
    position:absolute;
    top: 0;
    left: 10;
    right: 10;
    bottom: 0;
    display: none;
}

@keyframes setXWin {
    0%{opacity: 0; transform: translateX(-100%);}
    100%{opacity: 1; transform: translateX(0%)}
}

.owin{
    display: flex;
    align-items:center;
    justify-content: space-evenly;
    flex-direction: column;
    height:610px;
    animation-name: setOWin;
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-timing-function: ease;
    position:absolute;
    top: 0;
    left: 10;
    right: 10;
    bottom: 0;
    display: none;
}

@keyframes setOWin {
    0%{opacity: 0; transform: translateX(100%);}
    100%{opacity: 1; transform: translateX(0%)}
}

.draw{
    display: flex;
    align-items:center;
    justify-content: space-evenly;
    flex-direction: column;
    height:610px;
    animation-name: setDraw;
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-timing-function: ease;
    position:absolute;
    top: 0;
    left: 10;
    right: 10;
    bottom: 0;
    display: none;
}

@keyframes setDraw {
    0%{opacity: 0; transform: translateY(100%);}
    100%{opacity: 1; transform: translateY(0%)}
}

.row{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
}

.xspace{
    padding: 0px 54px;
}

.btn{
    background-color: lightgray;
    border: 3px solid gray;
    border-radius: 2%;
    padding:  10px 20px;
    margin: 10px;
}

.smallImgShow{
    display:none;
}

@media screen and (max-width: 550px) {
    

    .container{
        width: 480px;
        
    }

    .square{
        height: 90px;
        width: 90px;
    }

    .img{
        display: none;
    }

    

    .o,
    .x{
        height: 75px;

    }

    .owin,
    .xwin,
    .draw{

        height:100%;
    }

    .imagem{
        display:none;
    }

    .smallImg{
        display: inline-block;
    }

    .smallImgShow{
        width: 75px;
        height: 75px;
        display: inline-block;
    }
}

@media screen and (max-width: 500px) {
    .container{
        width: 430px;
        
    }
    .smallImgShow{
        width: 75px;
        height: 75px;
        display: inline-block;
    }
}

@media screen and (max-width: 450px) {
    .container{
        width: 380px;
        
    }
    .smallImgShow{
        width: 75px;
        height: 75px;
        display: inline-block;
    }
}

@media screen and (max-width: 400px) {
    .container{
        width: 350px;
        
    }
    .header{
        font-size: 3rem;
    }
    .smallImgShow{
        width: 75px;
        height: 75px;
        display: inline-block;
    }
}

@media screen and (max-width: 380px) {
    .container{
        width: 350px;
        
    }
    .smallImgShow{
        width: 75px;
        height: 75px;
        display: inline-block;
    }
}

@media screen and (max-width: 350px) {
    .container{
        width: 270px;
        
    }

    .square{
        height: 70px;
        width: 70px;
    }

    .o,
    .x{
        height: 55px;

    }
    .smallImgShow{
        width: 75px;
        height: 75px;
        display: inline-block;
    }


}


@media screen and (min-height: 600px) and (min-width:1000px) {
    .header{
        font-size: 2rem;
    }

    .container{
        height: 320px;
        width: 300px;
    }
    .square{
        height: 70px;
        width: 70px;
    }

    .o,
    .x{
        height: 60px;

    }
    .smallImg{
        display: none;
    }
    .smallImgShow{
        width: 75px;
        height: 75px;
        display: inline-block;
    }
    .img{
        width: 60px;
    }
}

@media screen and (max-width: 300px) {
    .header{
        font-size: 2rem;
    }

    .container{
        height: 250px;
        width: 250px;
    }
    .square{
        height: 60px;
        width: 60px;
    }

    .o,
    .x{
        height: 50px;

    }

    .header2{
        font-size: 1.5rem;
        padding-top: 25px;
    }
    .smallImgShow{
        width: 75px;
        height: 75px;
        display: inline-block;
    }


    
}


@media screen and (max-height: 599px) {
    .smallImg{
        display: none;
    }

    .smallImgShow{
        display: inline-block;
    }
    
}


@media screen and (min-height: 599px) and (min-width:1000px) {
    .imagem{
        display: none;
    }

    .smallImgShow{
        display: inline-block;
    }
    
}

